mixin main-svg(className, imgLink)
    svg(class=className)
        use(xlink:href=imgLink)

mixin triangle-svg(className, imgLink)
    svg(class=className)
        use(xlink:href=imgLink)

mixin snowflake-svg(className, imgLink)
    svg(class=className)
        use(xlink:href=imgLink)

mixin employeeList()
    -
        const employeeList = [
            {
                'href': '#',
                'name': 'Сысоев И.В.',
                'text': 'председатель, встреча, размещение участников,'
            },
        ];

    ul.progcom__employee-list
        each item in employeeList
            li.progcom__employee-item
                a(href=item.href, class="progcom__employee-link") !{item.name} + " – " + !{item.text}


//- Перетащить потом в _navigation.pug
-
    let heroMenu = {
        '#conf': 'О конференции',
        '#programm-committee': 'Программный комитет',
        '#organising-committee': 'Организационный комитет',
        '#organizers': 'Организаторы'
    };
-
    let menu = {
        '#home': 'Главная',
        '#conf': 'О конференции',
        '#rules': 'Правила оформления тезисов',
        '#dates': 'Ключевые даты',
        '#program': 'Программа конференции',
        '#rules': 'Архив',
        '#howtoget': 'Как добраться',
        '#contacts': 'Контакты'
    };



// -
//     let employeeList = {
//         '#': 'Сысоев И.В. – председатель, встреча, размещение участников,',
//         '#': 'Егоров Е.Н. – учёный секретарь, кофе-брейки, стенды для постеров,',
//         '#': 'Москаленко О.И. – административно-техническая поддержка,',
//         '#': 'Стрелкова Г.И. – жюри лучших молодёжных докладов,',
//         '#': 'Рытик А.П. – организация заседаний, Точка Кипения,',
//         '#': 'Инкин М.Г. – организация заседаний, Точка Кипения,',
//         '#': 'Строганова О.Н. - вёрстка тезисов,',
//         '#': 'Сысоева М.В. - наполнение сайта,',
//         '#': 'Грищенко А.А. – заселение участников,',
//         '#': 'Фадеев П.В. - разработка сайта.'
//     }